//-
   @file: header
   @author: gejiawen
   @date: 15/12/5 19:15
   @description: header

nav(class=["navbar", "navbar-inverse"])
  div(class="container-fluid")
    div(class="navbar-header")
      img(alt="logo", src="/public/redis-logo.png", width="50px")
      span RSM
