//
   Created by xiayf on 15/12/4.

doctype html
html(lang="en")
    head
        title Redis Sentinel管理工具
        link(rel='stylesheet', href='/assets/main.css')
    body
        div
            p #{hello}
        script(src='/assets/bundle.js')